@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Система обліку персоналу</h1>
    <h1 class="display-4">Employee Management System</h1>
    
</div>
<br />
<br />
<br />


<div class="row">
    <div class="col-md-4">
        <h2>Функціональні вимоги:</h2>


        <p>Реєстрація та автентифікація користувачів.</p>
        <p>Управління даними співробітників (додавання, редагування, видалення).</p>
        <p>Перегляд та фільтрація даних співробітників.</p>
        <p>Генерація звітів за різними критеріями.</p>

       
    </div>
    <div class="col-md-4">
        <h2>Технічні вимоги:</h2>

        <p>
            Використання ASP.NET Core MVC.
        </p>
        <p>
            Підключення до бази даних за допомогою Entity Framework Core.
        </p>
        <p>
            Використання Dependency Injection.
        </p>
        <p>
            Асинхронне програмування.
        </p>
        <p>
            Реалізація архітектури MVC.
        </p>
        <p>Використання системи контролю версій Git.</p>
                
    </div>

    <div class="col-md-4">
        <h2>Вимоги до бази даних:</h2>
        
        <p>
            Використання SQL Server чи іншої реляційної бази даних.
        </p>
        <p>
            Таблиці для користувачів, співробітників, повідомлень, відділів, позицій та історій змін.
        </p>
        <p>
            Використання зовнішніх ключів для забезпечення цілісності даних.
        </p>
        <p>
            Індексація полів для прискорення пошуку працівників.
        </p>
        <p>
            Реалізація механізму контролю доступу до даних працівників.
        </p>
        
    </div>
</div>