

<div class="text-center">
    <h1 class="display-4">Реєстрація або авторизація</h1>
 
    <h1 class="display-6">Вибрати:</h1>

    <br />
    <br />
    <br />


</div>

<body>


    <a href="/user/registration/">Зареєструватися</a>
    <br /> 
    <a href="/user/signIn/">Авторизуватися</a>
    <br />
</body>

