<div class="text-center">
    <h1 class="display-4">Звіти</h1>
    <h1 class="display-6">Виберіть звіт:</h1>

   
    <br />
    <br />
    <br />

</div>

<body>
    
    <a href="/employee/index/">Звіт "Список працівників"</a>
    <br />
    <a href="/jobTitle/index">Звіт "Штатний розпис"</a>
</body>