
<div class="text-center">
   @*  <h1 class="display-4">Створення сутності</h1> *@

    @* <p>Створити:</p> *@
   @*  <h1 class="display-6">Створити:</h1> *@

    <br />
    <br />
    <br />


</div>

<body>


    <a href="/home/index/">Вийти з аккаунту</a>
    <br />
    
    

</body>